NavManu{
    text-align:center;
}
.navManu{    
    background-color:black;
    line-height: 40px;
    font-size: 20px; 

}
.navManu a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    padding: 5px; 
    
}
.navManu a:hover{
    background-color: gray;
    
}